
@{
    ViewBag.Title = "Index";
}





<div class="panel panel-default">
    <div class="panel-heading">搜索</div>
    <div class="panel-body">
        <div class="form-inline" role="search">
          
            <div class="form-group">
              
                <input id="kname" type="text" class="form-control" placeholder="字典名称">
            </div>
            <button class="btn btn-success">搜索</button>
        </div>
    </div>
</div>


    <form>
        <div id="maingrid4" style="margin:0; padding:0"></div>
    </form>



    @section scripts{
    <script type="text/javascript">
        $(function () {
            $("#maingrid4").ligerGrid({
                columns: [
                    { display: '主键编号', name: 'KID', align: 'left', width: 120 },
                    { display: '字典类型', name: 'KType', minWidth: 60 },
                    { display: '字典名称', name: 'KName', width: 50, align: 'left' },
                    { display: '字典值', name: 'Kvalue' }
                ],
                pageSize: 10,
                url: '@Url.Action("GetKeyVallist","KeyVal")',
                parms: [
                {
                   name:" KName",value:$("#kname").val()
                }],
//这个高度也必须写。要不然不出滚动条
height:'100%',
                method: "post",
                isScroll :true,
                groupColumnName: 'KType',
                groupColumnDisplay: '字典类型'  
            });
        }
   )
    </script>
    }
